h1{


    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;

}

#botao{

display: flex;
justify-content: center;
align-items: center;


}

#b{

padding: 10px;
background-color: black;
color: white;
font-family: 'Oswald', sans-serif;
font-size: 50px;

}

@keyframes b {



    
}